# ==========================================
# POSTGRES DATABASE CONFIGURATION (DOCKER)
# ==========================================
POSTGRES_USER=brewlite_admin
POSTGRES_PASSWORD=brewlite_secret_pass
POSTGRES_DB=brewlite_db
POSTGRES_PORT=5432

# ==========================================
# BACKEND (NESTJS) CONFIGURATION
# ==========================================
PORT=4000
DATABASE_URL="postgresql://brewlite_admin:brewlite_secret_pass@localhost:5432/brewlite_db?schema=public"
JWT_SECRET=brewlite_super_secret_jwt_key_2026
JWT_EXPIRATION=7d

# ==========================================
# FRONTEND (NEXTJS) CONFIGURATION
# ==========================================
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
